name: "Spectra: Merkle (Report + Repartition + Merkle)"

on:
  workflow_dispatch:
    inputs:
      dispatch_id:
        type: string
        description: "Unique ID for Temporal tracking"
        required: false
        default: ""

jobs:
  generate-spectra-merkle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Configure git and pull latest changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git pull origin main --rebase

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.5.1"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.12.3

      - name: Install node dependencies
        run: pnpm install

      - name: Run Spectra report
        run: pnpm tsx script/spectra/1_report.ts
        env:
          EXPLORER_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          WEB3_ALCHEMY_API_KEY: ${{ secrets.WEB3_ALCHEMY_API_KEY }}

      - name: Run Spectra repartition
        run: pnpm tsx script/spectra/2_repartition.ts
        env:
          EXPLORER_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          WEB3_ALCHEMY_API_KEY: ${{ secrets.WEB3_ALCHEMY_API_KEY }}

      - name: Run Spectra universal merkle generation
        run: pnpm tsx script/sdTkns/generateUniversalMerkleSpectra.ts
        env:
          EXPLORER_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          WEB3_ALCHEMY_API_KEY: ${{ secrets.WEB3_ALCHEMY_API_KEY }}

      - name: Rebase on latest main before auto-commit
        run: git pull --rebase --autostash origin main

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: Update Spectra merkles"
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
